.first{
    width: 100vw; 
    height: 200px;
    background-color: rgb(54, 54, 250);
    border-bottom: solid rgb(4, 4, 109)
}
.Kasb{
    text-align: center; 
    font-size: 70px;
    color: white;
}
.second{
    text-align: center; font-size: 25px; color: white;
}
.divikki{
    width: 410px;
    height: 400px;
    background-color: rgb(251, 239, 223);
    border-radius: 20px;
    border-bottom: solid blue 4px;
    border-top: solid blue 4px;
    
}
.YU{
    width: 240px;
    height: 240px;
}
.teen{
    width: 300px;
    height: 20px;
    border-radius: 5px;
}
.divuch{
    width: 410px;
    height: 400px;
    background-color: rgb(251, 239, 223);
    border-radius: 20px;
    border-bottom: solid blue 4px;
    border-top: solid blue 4px;
}
.doctor{
    width: 270px;
    height: 250px;
}
.button{
    height: 20px; width: 300px; 
    border-radius: 5px;
}
.divtor{
    width: 410px;
    height: 400px;
    background-color: rgb(251, 239, 223);
    border-radius: 20px;
    border-bottom: solid blue 4px;
    border-top: solid blue 4px;
}
.temu{
    width: 270px;
    height: 250px;
}
.otadiv{
    width: 100vw;
    height: 150px;
    background-color: blue;
    border-radius: 20px;
    border-top: solid 7px black;
}