.ota{
    width: 100vw; 
    height: 100vh; 
    background-color: rgb(136, 14, 14);
} 

header {
    text-align: center;
     background-color: aqua; 
}

.ota2 {
    background-color: rgb(254, 218, 165);
    height: 1300px; width: 1600px;
    border-radius: 20px;
}
.card {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;

}
.button{
    background-color: black;
    width: 200px; 
    color: white;
    border-radius: 10px;
    text-align: center;
    
}
.card2{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
}
.jey{
    height: 230px;
    width: 230px;
}
.card3{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
}
.Jey2{
height: 230px;
    width: 230px;

}